# MacOS
.DS_Store 

# Gradle
.gradle/
**/build/
!src/**/build/
!gradle-wrapper.jar

# Cache
.gradletasknamecache

# Minecraft
run/
build/
gradle-app.setting

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
eclipse/
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.launch
